src/main/resources/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="first" type="firstType" />
	<xs:complexType name="thirdType" mixed="true">
		<xs:sequence>
			<xs:element type="xs:string" name="fourth" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="secondType" mixed="true">
		<xs:sequence>
			<xs:element type="thirdType" name="third" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="firstType" mixed="true">
		<xs:sequence>
			<xs:element type="secondType" name="second" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>